
<div class="center jumbotron">
  <h1>ALPHA BLOG</h1>
  <p><%= link_to 'Sign up now', "#", class: "btn btn-danger btn-lg btn-xlarge", role: "button" %></p>
</div>
	<article>
		<h2>Welcome</h2>
		<p>This is a paragraph of an article I'm writing. I wonder what I should write. </p>
	</article>
</div>