    <footer class="footer">
        <small>
            Copyright &copy; <a href="https://completerubyonrailscourse-learntocode.c9users.io/">Steven</a>
        </small>
        <nav>
            <ul>
                <li><%= link_to 'About', about_path %></li>
            </ul>
        </nav>
    </footer>